.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-white);

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
    max-width: 1400px;
    width: 100%;
  }

  ul {
    list-style-type: none;
    li {
      .media-logo {
        list-style-type: none;
      }
    }
  }
}
