/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
  // Couleur de base
  --color-white: #f6f6f6;
  --color-black: #030303;

  // Couleurs du projet
  --color-primary: #263025;
  --color-secondary: #0c4816;
  --color-tertiary: #8f9792;

  --color-bg-primary: #f6f6f6;
  --color-bg-secondary: #263025;
}
