/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
  font-family: "Raleway", sans-serif;
  font-family: "Crushed", sans-serif;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Crushed", sans-serif;

  --font-size-h1: 4rem;
  --font-size-h2: 3.2rem;
  --font-size-h3: 2.6rem;
  --font-size-h4: 2rem;
  --font-size-h5: 1.4rem;

  --font-size-p: 2rem;
  --font-size-p-card: 1.5rem;
  --font-size-btn: 1.5rem;

  --font-size-menu: 1.8rem;

  --font-size-form: 1.8rem;
}
