{% include '_partials/_header.html' %}

<div class="hero">
    <div class="hero__content">
        <div class="hero__infos">
            <h4>Salut,</h4>
            <h1>Je suis Alexia Lepage</h1>
            <h2>Designer UX/UI</h2>
            <p>
              Miaow then turn around and show you my bum. Meowwww. Eat the
              rubberband tuxedo cats always looking dapper love blinks and purr purr
              purr purr yawn so sniff sniff.
            </p>
            <div class="hero__medias">
              <ul>
                <li>
                  <a href="https://www.behance.net/alexialepage1">
                    <img
                      class="media-logo"
                      src="assets/images/behance1.svg"
                      alt="Logo Behance"
                    />
                  </a>
                </li>
                <li><a href="https://www.youtube.com/channel/UCMtGHhiGeJxNufn0dt0K16Q"></a>
                    <img
                      class="media-logo"
                      src="assets/images/youtube1.svg"
                      alt="Logo Youtube"
                    />
                  </a></li>
                <li><a href="https://ca.linkedin.com/in/alexia-lepage-680a041b9"></a>
                    <img
                      class="media-logo"
                      src="assets/images/linkedin1.svg"
                      alt="Logo Linkedin"
                    />
                  </a></li>
                <li><a href="#"></a>
                    <img
                      class="media-logo"
                      src="assets/images/instagram1.svg"
                      alt="Logo Instagram"
                    />
                  </a></li>
              </ul>
            </div>
            <a href="#" class="hero__btn">À propos de moi</a>
          </div>
          <div class="hero__portrait">
            <img src="assets/images/photo1_hero.png" alt="Photo Alexia">
          </div>
    </div>
  

  <div class="scroll"><img src="" alt="Scrolling button"></div>
</div>

{% include '_partials/_footer.html' %}
